<div class="certificados">
    <h1>Certificados BizTalk</h1>
    <form>
        <div class="form-row">
            <div class="form-group col-md-3">
                <label for="inputNombre">Nombre certificado</label>
                <input type="text" class="form-control" id="inputNombre" placeholder="Nombre certificado">
            </div>
            <div class="form-group col-md-3">
                <label for="inputFichero">Fichero</label>
                <input type="text" class="form-control" id="inputFichero" placeholder="Fichero">
            </div>
            <div class="form-group col-md-3">
                <label for="inputDNS">DNS</label>
                <input type="text" class="form-control" id="inputDNS" placeholder="DNS">
            </div>
            <div class="form-group col-md-3">
                <label for="inputProyecto">Proyecto</label>
                <input type="text" class="form-control" id="inputProyecto" placeholder="Proyecto">
            </div>
            
        </div>
        <div class="form-row">
            <div class="form-group col-md-3">
                <label for="inputSistema">Sistema</label>
                <input type="text" class="form-control" id="inputSistema" placeholder="Sistema">
            </div>
            <div class="form-group col-md-3">
                <label for="inputCN">CN (Common Name)</label>
                <input type="text" class="form-control" id="inputCN" placeholder="CN (Common Name)">
            </div>
            <div class="form-group col-md-3">
                <label for="inputFechaActivacion">Fecha activación</label>
                <input type="password" class="form-control" id="inputFechaActivacion" placeholder="Fecha activación">
            </div>
            <div class="form-group col-md-3">
                <label for="inputFechaCaducidad">Fecha caducidad</label>
                <input type="password" class="form-control" id="inputFechaCaducidad" placeholder="Fecha caducidad">
            </div>
        </div>

        <button type="submit" class="btn btn-primary">Guardar</button>
    </form>
</div>