<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 --></configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <connectionStrings>
    <!--MV1-PREPROCW03-->
    <!--
    <add name="DATA_DYNAEntities" connectionString="metadata=res://*/Data_DYNA.csdl|res://*/Data_DYNA.ssdl|res://*/Data_DYNA.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=MV1-PREPROCW03;Initial Catalog=DATA_DYNA;Integrated Security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient"/>
    -->
    <!--Localhost-->
    <add name="DATA_DYNAEntities" connectionString="metadata=res://*/Data_DYNA.csdl|res://*/Data_DYNA.ssdl|res://*/Data_DYNA.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=E0419573\SQLEXPRESS;Initial Catalog=DATA_DYNA_DEV;Integrated Security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    
  </connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="DocumentFormat.OpenXml" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.0.5022.0" newVersion="2.0.5022.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
